.valaszok  {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 5px;
}

.kerdes{
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    width: 500px;
    background-color: lightblue;
    color: white;
}

.tarolo>div{
    display: grid;
    grid-template-columns: 1fr  ;
    gap: 5px;
}

.valasz button{
    width: 150px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 8px;
}

.tesztkerdes{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    width: 550px;
}